.project_info {
padding:40px 0px;
}

.cover {
height:58vw;
object-fit: cover;
object-position: 0px 0px;
margin-bottom:0px;
}

.overview {
margin-top:0px;
background-color: #e5e5e5;
width:100vw;
padding:30px 50px;
box-sizing: border-box;
}
.overview_con {
display:flex;
}

.overview_block {
width:33vw;
text-align:center;
}

.last_block {
width:70vw;
margin:30px auto 0px auto;
text-align: center;
}

.section1 {
width:60vw;
margin:100px auto;
}

h1 {
font-weight:bold;
text-align:center;
margin-bottom:30px;
}

.subsec1 {
column-count:2;
column-gap:50px;
}

img {
margin:auto;
display:block;
}

.small_img {
display:inline;
margin-bottom:30px;
}

.small_pics {
margin:auto;
width:650px;
text-align: center;
}

.small_pics img:first-child {
margin-right:30px;
}

/* captions */
h4 {
font-weight:normal;
font-style: italic;
text-align: center;
margin-top:20px;
}

.section2 {
background-color:#e5e5e5;
width:100vw;
padding:30px 50px;
box-sizing: border-box;
margin:50px 0px;
display:flex;
}

.section2 h1 {
width:30vw;
text-align:center;
}

.subsec2 {
width:70vw;
}

li {
line-height:150%;
margin-bottom:5px;
}
