.project_info {
padding:40px 0px;
}

.overview {
margin-top:25px;
width:100vw;
padding:50px 0px;
box-sizing: border-box;
display: flex;
/* justify-content: flex-start; */
align-items: flex-start;
flex-direction: row;
}
.cover {
width:40vw;
object-fit: cover;
object-position: 0px 0px;
margin-bottom:0px;
align-self: center;
}
.overview h1 {
text-align: left;
}
.overview_con {
width:40vw;
display:flex;
flex-direction: column;
align-self: center;
}
.overview_blocks {
display: flex;
flex-direction: row;
}
.overview_block {
width:calc(100%/3);
padding-right:20px;
box-sizing: border-box;
}

.last_block {
width:100%;
margin-top: 20px;
}

.section1 {
width:60vw;
margin:100px auto;
}

h1 {
font-weight:bold;
text-align:center;
margin-bottom:30px;
line-height: 130%;
}

.subsec1 {
column-count:2;
column-gap:50px;
}

img {
margin:auto;
display:block;
}

.small_img {
display:inline;
margin-bottom:30px;
}

.small_pics {
margin:auto;
width:650px;
text-align: center;
}

.small_pics img:first-child {
margin-right:30px;
}

/* captions */
h4 {
font-weight:normal;
font-style: italic;
text-align: center;
margin-top:20px;
}

.section2 {
background-color:#e5e5e5;
box-sizing: border-box;
width:100%;
padding:20px 0px;
margin:50px 0px;
display:flex;
}

.section2 h1 {
width:30vw;
text-align:center;
box-sizing: border-box;
}

.subsec2 {
width:60vw;
box-sizing: border-box;
}
